$serif-font: "ibm plex sans";

// Credits - https://www.ching-wang.io/posts/Using-sass-mixins-for-responsive-web-design/
$small-width: 480px;
$regular-width: 724px;
$medium-width: 812px;
$large-width: 1024px;
$x-large-width: 1240px;