#app {
  min-height: 100vh;
  font-family: "IBM Plex Sans";
}

#about-section {
  width: 100%;
  background-color: #040404;
  padding: 2rem;
  padding-bottom: 4rem;
}

.about-tool,
.download-section,
#about-section h1 {
  font-family: "IBM Plex Sans";
  color: #fff;
  margin-top: 4rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

#about-section h1 {
  margin-top: 5%;
}

.about-tool p,
.download-section p {
  margin-top: 2rem;
  /* font-weight: 300; */
  line-height: 1.25rem;

  opacity: 0.7;
  /* letter-spacing: 0.04rem; */
  font-family: monospace;
}

@media screen and (max-width: 800px) {
  .about-tool,
  .download-section,
  #about-section h1 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .about-tool,
  .download-section,
  #about-section h1 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

#carbonads * {
  margin: initial;
  padding: initial;
}
#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
#carbonads {
  display: flex;
  max-width: 330px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
  z-index: 100;
  margin-bottom: 1rem;
  border-radius: 4px;
}
#carbonads a {
  color: inherit;
  text-decoration: none;
}
#carbonads a:hover {
  color: inherit;
}
#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}
#carbonads .carbon-wrap {
  display: flex;
}
#carbonads .carbon-img {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  line-height: 1;
}
#carbonads .carbon-img img {
  display: block;
}
#carbonads .carbon-text {
  font-size: 12px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}
#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #f1f1f2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 1025px) and (max-width: 1256px) {
  #carbonads .carbon-wrap {
    flex-direction: column;
  }
  #carbonads .carbon-img {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1024px) {
  #carbonads {
    min-width: 250px;
    height: 150px;
    margin-right: 1rem;
  }

  #carbonads .carbon-wrap {
    flex-direction: row;
  }
  #carbonads .carbon-img {
    padding-left: 10px;
  }
}
